/* =Base */
body {
    font-family: 'Inconsolata', ;
    color: $iron;
    background-color: $dorian;
}

a {
    color: $cloudy;
    font-weight: bold;
    text-decoration: none;

    &:hover {
        text-decoration: underline;

    }
}

p {
    font-size: 20px;
    line-height: 32px;
}

img {
    margin: 40px auto;
    display: block;
    max-width: 100%;
}

blockquote {
    letter-spacing: 3px;
    margin:0px;
    margin-top: 40px;
    margin-bottom: 70px;
    padding: 0px;
    text-align: center;
    position: relative;

    footer {
        position: absolute;
        bottom: -35px;
        font-size: 15px;
        color: $iron;
        letter-spacing: 0px;
        left:0px;
        right: 0px;

        &:before { content: "** "; }
        &:after { content: " **"; }
    }

    p {
        display: inline;
        font-size: 20px;
        color: $cloudy;
        font-weight: 400;
        &:before { content: "“ "; }
        &:after { content: " ”"; }
    }
}

strong {
    color: $iron;
}

/* =Header */
.wrapper {
    max-width: 800px;
    margin: 100px auto;
}

.header {
    overflow: hidden;
}

.navigation {
    float:left;
}

.logo {
    font-size: 50px;
    font-weight: 700;
    color: $iron;
    display: block;
}

.menu {
    color: $cloudy;
    font-size: 18px;
    margin:0px;
    margin-top: 6px;
    padding: 0px;
    list-style-type: none;
}

.menu__entry {
    display: inline-block;
    margin-right: 35px;

    &:last-child {
        margin-right: 0px;
    }
}

.menu__entry a {
    font-weight: 400;
}

.social-links {
    float:right;
    font-size: 24px;
    color: $cloudy;
    list-style-type: none;
}

.social-links__entry {
    display: inline-block;
    margin-left: 10px;
}

/* =Titles */
.page-title__text { font-weight: 700; font-size: 70px; }

.page-title__subtitle { font-weight: 400; font-size: 22px; color: #828282; }

.post-title { margin-bottom: 110px; }

.post-title__text { font-size: 40px; }

.post-title__subtitle { font-size: 20px; }


/* =Post teasers */

.list-posts {
    list-style-type: none;
    padding: 0px;
}

.post-teaser {
    margin-bottom: 45px;
    font-weight: 700;
}

.post-teaser__title {
    font-size: 22px;
    color: $iron;
}

.post-teaser__date {
    font-size: 16px;
    float: right;
    vertical-align: middle;
    color: $cloudy;
}

.empty-post-list {
    font-size: 22px;
    font-weight: 700;
    color: $iron;
    text-align: center;
}

/* =Explore */
.explore {
    text-align: center;
    color: $cloudy;
    margin-top: 140px;
}

.explore__devider {
    font-size: 18px;
    letter-spacing: 8.18px;
}

.explore__label {
    font-size: 14px;
    margin-top: 15px;
}

.categories {
    list-style-type: none;
    margin-top: 15px;
    padding: 0px;
}

.categories__item {
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
}

.categories__item a {
    color: $iron;
}

.categories__item:after {
    content: "/";
    margin-left: 6px;
    color: $cloudy;
}

.categories__item:last-child:after {
    content: "";
    margin-left: 0px;
}


/* =Post page */
.about { color: #828282; margin-top: 70px; text-align: center; line-height: 24px; }

.about__devider { font-size: 20px; margin-bottom: 50px; letter-spacing: 9.09px; }

.about__text { font-size: 18px; }

#disqus_thread {
    margin-top: 100px;
}

@media (max-width: 800px) {
    /* =Base */
    p {
        font-size: 16px;
        line-height: 1.6;
    }

    .wrapper {
        width: 80%;
    }

    .navigation,
    .social-links {
        @include centered-block();
    }

    .social-links {
        font-size: 30px;
        margin-top: 35px;
    }

    .page-title {
        margin-top: 80px;
        margin-bottom: 60px;
    }

    .page-title__text {
        font-size: 40px;
    }

    .page-title__subtitle {
        font-size: 18px;
    }

    .post-teaser__title {
        font-size: 18px;
        @include centered-block();
    }

    .post-teaser__date {
        font-size: 16px;
        margin-top: 10px;
        float: none;
        @include centered-block();
    }

    .explore {
        margin-top: 80px;
    }

    .post-title__text {
        font-size: 28px;
    }

    .post-title__subtitle {
        font-size: 18px;
    }
}

/* Custom */
.go-home { text-align: center; }

.pubmed_clear { clear: both; }

.pubmed_article { margin-bottom: 15px; }

.pubmed_author { float: left; margin-right: 5px; }

.pubmed_publicationDetails { clear: both; font-style: italic; }

.pubmed_abstractExpander, .pubmed_detailsExpander { float: left; margin-right: 5px; }

.pubmed_abstract { font-size: 14px; }

.team { text-align: justify; }

.team__stretch { display: inline-block; width: 100%; line-height: 0; }

.person { width: 220px; display: inline-block; position: relative; vertical-align: top; margin: 10px 0; }

.person img { margin: 0; }

.details { list-style: none; padding: 0px; }

.details__attribute { text-align: left; }

.details--name { font-size: 1.4em; font-weight: bold; }

.details--title { font-style: italic; font-size: 1.2em; margin: 10px 0; }

.details--social { font-size: 1.3em; }

.details--interests { margin: 10px 0; }

@media (max-width: 574px) { .team { text-align: center; } }
.project { margin-bottom: 50px; overflow: hidden; }

.project__container { float: left; max-width: 650px; }

.project__header { margin-bottom: 5px; }

.project__title { font-size: 26px; font-weight: bold; }

.project__social { font-size: 20px; line-height: 26px; float: right; }

.project__summary { text-align: justify; }

.project__image { font-size: 100px; width: 110px; float: right; text-align: center; }

.project__image a { text-decoration: none; }

@media (max-width: 800px) { .project__title { font-size: 22px; font-weight: bold; }
  .project__image { display: none; } }
.map { width: 600px; height: 450px; }

@media (max-width: 600px) { .map { width: 300px; height: 150px; } }
.index { overflow: hidden; }
.index:after { content: ""; clear: both; }

.index__bumper { font-size: 20px; line-height: 26px; max-width: 450px; float: left; }

.index__showcase { float: right; height: 250px; overflow: auto; }

@media (max-width: 800px) { .index__showcase { display: none; }
  .index__bumper { text-align: justify; max-width: none; float: none; } }
  
/* headings */

.bigtitle {
font-size: 60px; 
line-height: 55px;  
font-weight: 100;
/* Museo */ 
}

.title {
font-size: 36px; 
line-height: 40px;  
font-weight: 100;
/* Museo */ 
}

.bighead {
font-size: 32px;
font-weight: 300;
line-height:36px;
/* Museo */ 
}

.head {
font-size: 24px;
font-weight: 300;
line-height:30px;
/* Museo */ 
}

.smallhead {
font-size: 19px;
font-weight: 300;
line-height: 23px;
/* Museo */ 
}

.note {
font-size: 15px;
font-weight: 300;
line-height: 18px;
/* Museo */ 
}

.smallnote {
font-size: 13px;
font-weight: 300;
line-height: 16px;
/* Museo */ 
}

/*.text-gray {
color: @gray-light;
}

.text-dark-gray {
color: @gray;
}*/


/* other */

body {
    font-weight: 300;
}

p {
    font-weight: 300;
}

.hugespacer {
    height: 50px;
}

.bigspacer {
    height: 20px;
}

.spacer {
    height: 10px;
}

.smallspacer {
    height: 5px;
}

a.off { 
    color: inherit; 
}

pre {
    overflow-x: auto;
}

pre code {
    overflow-wrap: normal;
    white-space: pre;
}

/*table {
    .table;
    .table-striped;
}*/

/*img {
    .img-responsive;
}*/

img.offset {
    float: right; 
    margin: 12px 0px 10px 15px;
}

img.avatar {
    width: 20px;
}

.post img {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

/*blockquote {
    .text-gray;
    p {
    font-size: (@font-size-base * 1.00);
    }
}*/

/*.breadcrumb {
    padding: 0px 0px;
    background-color: @body-bg;
    > li {
        &+li:before {
            padding: 0px;
            content: "\00a0@{breadcrumb-separator}\00a0";
        }
        &+li:after {
            padding: 0px;
        }
    }
}*/

.feedbox {
    height: 320px;
    overflow: hidden;    
    -webkit-mask-image: -webkit-gradient(linear, left 85%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));   
/*  -webkit-box-shadow: inset 0 -30px 10px -10px white; */
/*     -moz-box-shadow: inset 0 -30px 10px -10px white; */
/*          box-shadow: inset 0 -30px 10px -10px white; */
}

.postbox {
    min-height: 80px;
}

.paperbox {
    min-height: 140px;
}

.projectbox {
    min-height: 120px;
}

.memberbox {
    min-height: 200px;
}

.talkbox {
    min-height: 100px;
}

.titlebox {
    min-width: 300px;    
}

.handlebox {
    height: 20px;
    display: table-cell; 
    vertical-align: middle;
}

.pad-right {
    padding-right: 10px;
}

.pad-left {
    padding-left: 10px;
}
